<tr>
    <td>
        {{orderID}}
    </td>
    <td style="width:330px;">
        {{orderDesc|nl2br}}
    </td>
    <td>
        {{totalCost}}
    </td>
    <td>
        {{orderDate|date("Y-m-d h:g:i")}}
    </td>
    <td>
        {{orderStatus}}
    </td>
</tr>